{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex flex-wrap">
    {% for tournament in tournaments %}
        <div class="col-lg-4 col-md-6 p-4">
            <div class="card border-dark rounded custom-shadow h-100">
                <div class="card-body bg-dark text-white">
                    <a href="{% url "match_voice:tournament-detail" tournament.pk %}">
                        <h2>{{ tournament.name }}</h2>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% include 'includes/pagination.html' %}

