{% extends "base.html" %}

{% block content %}
<div class="container mt-4 mb-5 text-center">
    <div class="card-detail custom-shadow bg-dark text-white mx-auto">
           <div class="card-body bg-dark text-white">
                    <h2>{{ commentator.username }}</h2>
                    <p class="card-text">{{ commentator.first_name }} {{ commentator.last_name }}</p>
                    <p class="card-text">Expirience years: {{ commentator.years_of_experience }}</p>
            </div>
    </div>
</div>
{% endblock %}
{% include 'includes/footer.html' %}