{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4 mb-5 text-center">
    <div class="card-detail custom-shadow bg-dark text-white mx-auto">
           <div class="card-body bg-dark text-white">
                    <h2>{{ match.title }}</h2>
                    <p class="card-text">{{ match.tournament.name }}</p>
                    <p class="card-text">Date: {{ match.match_date }}</p>
                    <p class="card-text">Commentator:
                        {% for commentator in match.commentators.all %}
                            <span>{{ commentator.first_name }} {{ commentator.last_name }}</span>
                        {% endfor %}
                    </p>
            </div>
    </div>
</div>
{% endblock %}
{% include 'includes/footer.html' %}