body {
    background-image: url("../images/bg-test.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
.main-text {
    text-align: center;
}
.admin-logo {
    width: 25px;
    height: 25px;
}

.card-body a {
    text-decoration: none;
    color: white;
}
.card-body a:hover {
    text-decoration: none;
    color: white;
}
.card a{
    text-decoration: none;
}
.card-detail {
    max-width: fit-content;;
    max-height: 800px;
}
